includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon
    - ./vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    paths:
        - src
        - tests
    tmpDir: cache/phpstan/
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    shipmonkRules:
        classSuffixNaming:
            superclassToSuffixMapping:
                \PHPUnit\Framework\TestCase: Test
                \Symfony\Component\Console\Command\Command: Command
    ignoreErrors:
        -
            # changes to void in new versions
            message: '~Return type \(void\) of method ShipMonk\\Doctrine\\Migration\\CachingSqlLogger::log\(\) should be compatible with return type \(null\) of method Psr\\Log\\LoggerInterface::log\(\)~'
            path: tests\CachingSqlLogger.php
            reportUnmatched: false
            count: 1
        -
            # changes to string|Stringable in new versions
            message: '~Parameter #2 \$message \(string\|Stringable\) of method ShipMonk\\Doctrine\\Migration\\CachingSqlLogger::log\(\) should be contravariant with parameter \$message \(mixed\) of method Psr\\Log\\LoggerTrait::log\(\)~'
            path: tests\CachingSqlLogger.php
            reportUnmatched: false
            count: 1

        -
            identifier: method.internalClass
            path: tests/*

        -
            identifier: shipmonk.deadMethod
            paths:
                # intentional, dummy code
                - tests/Entity.php

                # executors are called within generated migration files
                - src/MigrationExecutor.php
                - src/MigrationDefaultExecutor.php
